<div class="container p-3">
    <!--Display Faqs-->
    <div class="" id="accordion">
        <div *ngFor = "let f of faqs">
            <div class="faqHeader">GENERAL QUESTIONS</div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{f.question}}</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="card-block">{{f.answer}}</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-3">
  <h2>Ask the question here</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="question">Question</label>
      <input type="question" class="form-control" id="question" placeholder="Enter question" name="question">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
